#header1 {
    text-align: center;
    border-style: groove;
    border-color: skyblue;
    background-color: skyblue;
    color: blue;
   border-width: 100%;
    
    
}

#text {
    float: left;
    width: 48%;
    
}

#rorelse {
    float: right;
    height: 10%;
    width:10%;
    
}

#rorelse img {
    width:300px;
    float:right;

}
body {
    background-color: floralwhite;
    
}

footer{
    background-color: skyblue;
    border: 5px inherit black;

    width:100%;
    margin-top:800px;
}
#finalfour {
    float:left;
}

