body {
    background-color: floralwhite;
        
}

footer{
    background-color: skyblue;
    border: 5px inherit black;
    position: absolute;
    margin-top:950px;
    width:100%
}

#link {
    text-align: center;
    color:skyblue
}

.contact {
    font-size:15px
}

#header1 {
    font-size: 25px;
    font-family: cursive;
    background-color: deepskyblue;
    border-style: inset;
    border-width: 2px;
    text-align: center;
    height: 170px;
    width: 100%;
    font-family: inherit
    
    
    
    
}
h2 {
    text-align: center;
    height:80px;
    width: 100%;
    
    
}

#description {
 color: skyblue;
    width: 47%;
    height:50%;
    float: left;
    box-shadow: 1px 1px 5px black;
    text-align: center;
        position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#sketchbook {
    width: 47%;
    height:50%;
    float: right;
    box-shadow: 1px 1px 5px black;
    text-align: center;
        position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#projects {
    width: 47%;
    height:50%;
    float:right;
    box-shadow: 1px 1px 5px black;
    text-align: center;
        position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#other {
    width: 47%;
    height:50%;
    float: left;
    box-shadow: 1px 1px 5px black;
    text-align: center;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    /*width:200px;*/
    /*height: 100p;*/
    margin:auto;
    display: block;
    
}

#rorelse {
    height: 500px;
}


#description img {
    width:60%;
}

#sketchbook img {

    width:60%;
}

#other img {
    width:60%;
}

#projects img {
    width:25%;}




a {
    text-align: center;
    margin-left: auto;
    margin-right:auto;
}









